<?xml version="1.0"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Scripting/Tests/PHPUnitConfiguration.xml to edit this template
-->

<!-- see http://www.phpunit.de/wiki/Documentation -->
<!--phpunit bootstrap="/path/to/bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true">
</phpunit-->

<phpunit bootstrap="bootstrap.php" 
         convertErrorsToExceptions="true"
         colors="true" >
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">/src/*</directory>
 
        </whitelist>
    </filter>
    <coverage includeUncoveredFiles="true" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">/src/*</directory>
        </include>
		
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/logs/html"/>
            <php outputFile="build/logs/coverage.serialized"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="domain">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxHtml outputFile="build/logs/testdox.html"/>
        <testdoxText outputFile="build/logs/testdox.txt"/>
        <junit outputFile="build/logs/logfile.xml"/>
    </logging>
   
</phpunit>